.drawerContainer{
    width: 900px;
    height: 100vh;
    min-width: 320px;
}
.photo{
    width: 70px;
    height: 70px;
    border: 30px;
}
.userContainer{
    display: flex;

    align-items: center;
    padding: 30px;
}